<div class="when"><span class="{{actionIcon}}"></span> {{date}} • {{time}}</div>

<div class="content">

    <div class="what">

        {{#if isProfileView}}
            _______ viewed your profile
        {{/if}}

        {{#if isUserFavorited}}

            <div class="profile-wrap"><img class="profile" src="{{profileImage}}"></div>

            <div class="action-type">

                <b>You</b> favorited <a href="#">{{activity.program.college.name}}</a>

            </div>

        {{/if}}


    </div>

    <div class="school">

        <div class="image">

            <div class="wrap"><img src="{{schoolImage}}"></div>

        </div>

        <div class="info">

            <div class="wrap">

                <p><strong>{{activity.program.college.name}}</strong></p>

                <p>

                    <strong>Location:</strong> {{activity.program.city}},{{activity.program.state}}<br>

                    <strong>Division:</strong> {{activity.program.division.name}}

                </p>

                <p><a href="#">View School Profile</a></p>

            </div>

        </div>

    </div>

</div>

<div class="controls">
    [unfavorite]
    [message]
</div>
