<div class="when"><span class="{{actionIcon}}"></span> {{date}} • {{time}}</div>

<div class="content">

    <div class="what">

        {{#if isProfileView}}
            Profile View
        {{/if}}

        {{#if isUserFavorited}}
            <b>You</b> Favorited ____school____
        {{/if}}


    </div>

    <div class="school">

        <div class="image"><img src="{{school_image}}"></div>

        <div class="info">

            <p><strong>{{activity.program.college.name}}</strong></p>

            <p><strong>Location:</strong>{{activity.program.city}},{{activity.program.state}}</p>

            <p><a href="#">View School Profile</a></p>

        </div>

    </div>

</div>

<div class="controls">
    [unfavorite]
    [message]
</div>
